In [9]:
import pandas as pd
import folium

pd.set_option('display.max_columns', None)

In [12]:
df = pd.read_csv('data/hospitals.csv')
# df.tail()
# df.info()

In [16]:
ma = df[df['STATE']=="MA"][['NAME','LATITUDE','LONGITUDE']]

In [17]:
ma.head()

                                               NAME  LATITUDE  LONGITUDE
1164  66TH MEDICAL SQUADRON, HANSCOM AIR FORCE BASE  42.45788 -71.282688
2944                           ANNA JAQUES HOSPITAL  42.81440 -70.891100
2945                        ATHOL MEMORIAL HOSPITAL  42.58550 -72.208900
2946               BAYSTATE FRANKLIN MEDICAL CENTER  42.59570 -72.592300
2947                        BAYSTATE MEDICAL CENTER  42.12170 -72.603200

In [25]:
lat_mean = ma['LATITUDE'].mean()
long_mean = ma['LONGITUDE'].mean()

In [34]:
map = folium.Map(location=[lat_mean, long_mean], zoom_start=15)

In [35]:
list_coor = ma.values.tolist()

In [36]:
for i in list_coor:
    map.add_child(folium.Marker(location=[i[1],i[2]],
                                popup=i[0],icon=folium.Icon(color='green')))

In [38]:
map.save("ma.html")